.main {
  margin-top: 125px;
}
.slider {
  position: relative;
  width: 1180px;
  margin-bottom: 90px;
  padding-left: 110px;
  padding-right: 110px;
  box-sizing: content-box;
  &__wrapper{ 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #EEE4DB;
  }
  &__wrapper-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 90px;
  }
  &__img{
    position: absolute;
    display: flex;
    bottom: 39px;
    left: 550px;
    width: 635px;
    height: 460px;
    margin-left: 5px;
  }
  &__aside {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 39px;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    color: #FFFFFF;
    background-color: #C29974;
    text-transform: uppercase;
    margin: 0;
  }
}
.slider-control { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 17px;
    padding-left: 30px;
  &__number {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 73px;
    color: rgba(30, 6, 6, 0.05);
    margin-left: -3px;
  }
  &__item{
    width: 30px;
    height: 3px;
    margin-bottom: 10px;
    &:last-child {
    margin-bottom: 0;
  }
}
  &__btn {
    width: 30px;
    height: 3px;
    background-color: #D6CAC2;
    border: none;
    &:hover {
      background-color: rgba(30, 6, 6, 0.6);
      transition: .4s;
    }
    &_active {
      background-color: rgba(30, 6, 6, 0.6);
      transition: .4s;
    }
  }
}
.slider-offer {
  display: flex;
  -webkit-box-orient: vertical;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  padding-top: 91px;
  margin-left: 45px;
  &__title {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    color: #1E0606;
    text-transform: uppercase;
    margin-bottom: 20px;
    width: 307px;
  }
  &__text {
    font-family: 'Crimson Text', 'Arial', sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 25px;
    color: #1E0606;
    margin-bottom: 20px;
  }
  &__button {
    min-width: 161px;
    min-height: 40px;
  }
}
.category {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  width: 1180px;
  margin-bottom: 90px;
  &__title {
    margin-bottom: 30px;
  }
  &__card-title {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 129px;
  &:hover {
    text-decoration-line: underline;
    transition: .4s;
}
  &:active {
  text-decoration-line: underline;
  transition: .4s;
  }
 }
 &__list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  list-style-type: none;
  margin-bottom: 27px;
}
 &__item {
  height: 270px;
  width: 24%;
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
 }
}
 &__link{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
 &__control-wrapper{
  display: flex;
  align-items: center;
}
 &__button-wrapper {
  display: flex;
}
 &__button {
  position: relative;
  padding: 0px;
  width: 37px;
  height: 37px;
  border: 0;
  background-color: rgba(112, 187, 220, 0.2);
  &:first-child {
    margin-right: 6px;
  }
 }
 &__txt {
  padding-top: 3px;
  padding-right: 42%;
  margin-left: 20px;
}
}
.delivery {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 88px;
  &__img {
    min-width: 480px;
    height: 560px;
    background-image: url(/static/images/delivery/girl-img.png);
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 120px;
  }
  &__title {
    padding-top: 30px;
    margin-bottom: 6px;
  }
  &__menu-list {
    list-style-type: none;
    margin-bottom: 19px;
  }
  &__menu-item {
    margin-left: -60px;
  }
  &__menu-button {
    display: flex;
    align-items: center;
    font-family: 'Crimson Text', 'Arial', sans-serif;
    font-size: 26px;
    font-style: italic;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    background-color: transparent;
    border: 0;
    padding-left: 60px;
    width: 325px;
    height: 55px;
    &_active {
      background-color: rgba(112, 187, 220, 0.2);
      font-weight: bold;
      color: #1E0606;
      transition: .4s;
    }  
    &:focus {
      font-weight: bold;
      color: #1E0606;
      border: 0;
      outline: none;
      width: 325px;
      height: 55px;
      background-color: rgba(112, 187, 220, 0.2);
      border: 0;
      transition: .4s;
    }
 }
  &__text {
    padding-right: 100px;
    margin-bottom: 25px;
    &_first {
      padding-right: 100px;
      margin-bottom: 15px;
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 149px;
    min-height: 40px;
  }
}
.partners{
  margin-bottom: 113px;
  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__item {
    margin-right: 127px;
  }
  &__item:last-child {
    margin-right: 0px;
  }
}
.aside {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 147px;
  &__buy {
    margin-right: 57px;
    min-height: 236px;
  }
  &__buy, &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
    width: 545px;
    background-color: #E1F0F7;
  }
  &__buy-title, &__contacts-title {
    margin-top: -26px;
  }
  &__buy-title {
    margin-bottom: 10px;
  }
  &__buy-subtitle {
    font-family: 'Crimson Text', 'Arial', sans-serif;
    font-size: 26px;
    font-style: italic;
    font-weight: 400;
    line-height: 32px;
    color: #1E0606;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  &__buy-txt{
    margin-bottom: 20px;
    padding-right: 30px;
  }
  &__buy-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    min-width: 123px;
    min-height: 40px;
  }
  &__contacts-title {
    margin-bottom: 20px;
  }
  &__contacts-txt {
    padding-right: 30px;
    margin-bottom: 20px;
  }
  &__contacts-img {
    width: 483px;
    height: 196px;
    margin-bottom: -114px;
  }
}
.popup {
  display: none;
  position: fixed;
  top: 113px;
  left: 50%;
  margin-left: -340px;
  z-index: 1;
  &__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(125, 151, 218, 0.8);
    width: 100%;
    height: 100%;
    opacity: 0.8;
  }
  &__overlay.show {
    display: block;
  }
  &__close-button {
    position: absolute;
    left: 690px;
    top: 1px;
    background-image: url(/static/images/modal/modal-close-button.svg);
    height: 15px;
    width: 15px;
    background-color: transparent;
    color: #1E0606;
    border: 0;
    &:hover {
      opacity: 0.5;
      transition: .4s;
    }
    &:active {
      opacity: 0.3;
      transition: .4s;
    }
  }
  &.open {
    display: block;
  }
}
.form__wrapper {
  position: relative;
}