.main-blog {
    margin-top: 57px;
    margin-bottom: 54px;
}
.breadcrumbs {
    margin-bottom: 14px;
}

.articles{
    margin-bottom: 43px;
    &__wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
    &__link {
        display: flex;
        flex-direction: column;
        width: 380px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        width: 380px;
        margin-top: 36px;
        &:nth-child(3n+3) {
            margin-right: 0px;
        }
    }
    & a {
        color: #1E0606;
    }
    &__time {
        font-family: 'Open Sans', 'Arial', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #818181;
        margin-bottom: 7px;
    }
    &__title {
        font-family: 'Montserrat', 'Arial', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 31px;
        margin-bottom: 15px;
        &:hover {
            text-decoration-line: underline;
            transition: .4s;
        }
        &:active{
            text-decoration-line: underline;
            transition: .4s;
        }
    }
    &__txt {
        font-size: 18px;
        line-height: 25px;
    }
    &__img {
        margin-bottom: 20px;
    }
}
