<button class="control-button-left" type="button" aria-label="scroll-left"></button>
<ul class="control-navigation-list">
    <li class="control-navigation-item">
        <a href="#" aria-label="page 1" class="control-navigation-item-first">1</a>
    </li>
    <li class="control-navigation-item">
        <a href="#" aria-label="page 2">2</a>
    </li>
    <li class="control-navigation-item">
        <a href="#" aria-label="page 3">3</a>
    </li>
    <li class="control-navigation-item">
        <a href="#" aria-label="page 4">4</a>
    </li>
</ul>
<button class="control-button-right" type="button" aria-label="scroll-right"></button>