.main-catalog {
    margin-top: 58px;
    margin-bottom: 55px;
}
.catalog {
    display: flex;
    flex-direction: column;
    margin-bottom: 55px;
    &__list {
        display: flex;
        flex-flow: row wrap;
        row-gap: 23px;
    }
    &__item {
        margin-right: 20px;
        &:nth-child(4) {
            padding-left: 200px;
        }
        &:last-child{
            margin-right: 0px;
        }
    }
    &__link {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    &__title {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 129px;
        &:hover {
            text-decoration-line: underline;
        }
        &:active {
            text-decoration-line: underline;
        }
    }
}
.description {
    &__wrapper {
        width: 680px;
        box-sizing: content-box;
        padding-left: 200px;
    }
    &__title {
        margin-bottom: 25px;
    }
    &__txt {
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0px;
        } 
    }
}