.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1180px;
  box-sizing: content-box;
  padding-top: 50px;
}
.logo{
    display: flex;
    flex-direction: row;
  &__link {
    width: 100px;
    height: 52px;
}
}
.nav {
    display: flex;
    margin-left: 60px;
    padding-top: 16px;
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
    flex-wrap: wrap;
    row-gap: 9px;
  }
  &__item + &__item {
      margin-left: 20px;
  }
  &__link {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    color: #1E0606;
    text-transform: uppercase;
  }
}
.search {
  &__wrapper{    
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 136px;
}
&__btn {
  display: flex;
  align-items: center;
  margin-right: 26px;
  height: 18px;
  width: 17px;
  background-image: url(static/images/header/search-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
}
&__link {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  color: #1E0606;
  text-transform: uppercase;
  word-spacing: 4px;
}
}
                 /* Condition */
.header button:hover,
.header a:hover {
  opacity: 0.5;
}
.header button:active,
.header a:active {
  opacity: 0.2;
}