<header class="header container">
  <div class="header__menu-wrapper">
      <a href="@@link" class="header__logo" aria-label="Go to main">
        <img src="@@img" alt="Logo" height="52"
        width="100">
    </a>
      <nav class="header__nav">
          <ul class="header__nav_list">
              <li class="header__nav_item">
                  <a href="../../pages/blog/index.html" class="header__nav_item-link">Blog</a>
              </li>
              <li class="header__nav_item">
                  <a href="../../pages/catalog/index.html" class="header__nav_item-link">Catalog</a>
              </li>
              <li class="header__nav_item">
                  <a href="#" class="header__nav_item-link">About Us</a>
              </li>
          </ul>
      </nav>
  </div>
  <div class="header__search-wrapper">
      <button type="button" class="header__search-btn" aria-label="search on DLK"></button>
      <a href="../../pages/contact/index.html" class="header__contact-button">Contact us</a>
  </div>
</header>