<header class="header container">
  <div class="logo-menu-wrapper">
      <img src="/static/images/header/header-logo.svg" alt="Logo" class="header-logo-img header-logo-main" height="52"
          width="100">
      <span class="header-logo" aria-label="Go to main page"></span>
      <nav class="menu-nav">
          <ul class="menu-items">
              <li class="menu-item">
                  <a href="pages/blog/index.html" class="menu-item-link">Blog</a>
              </li>
              <li class="menu-item">
                  <a href="pages/catalog/index.html" class="menu-item-link">Catalog</a>
              </li>
              <li class="menu-item">
                  <a href="#" class="menu-item-link">About Us</a>
              </li>
          </ul>
      </nav>
  </div>
  <div class="search-contact-wrapper">
      <button type="button" class="search-btn" aria-label="search on DLK"></button>
      <a href="pages/contact/index.html" class="contact-button">Contact us</a>
  </div>
</header>