/* Category button */
.category-cntrl-btn-left {
    position: relative;
    padding: 0px;
    margin-right: 6px;
    width: 37px;
    height: 37px;
    border: 0;
    background-color: rgba(112, 187, 220, 0.2);
  }
  .category-cntrl-btn-right {
    position: relative;
    padding: 0px;
    width: 37px;
    height: 37px;
    border: 0;
    background-color: rgba(112, 187, 220, 0.2);
  }