.button-style {
    font-family: Open Sans, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    color: #FFFFFF;
    background-color: #000000;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
  }
  
  .button-style:hover {
    background-color: #C29974;
  }
  
  .button-style:active {
    background-color: #CFAF91;
  }
  
  .button-style:disabled {
    background-color: #C1C1C1;
  }