.toys-main {
    margin-top: 58px;
    margin-bottom: 53px;
}

/* Breadcrumbs and title */

.toys-breadcrumbs-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
}
.toys-title {
    margin-bottom: 15px;
}
.toys-breadcrumbs-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-family: Crimson Text, Arial, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
}
.toys-breadcrumb-item {
    margin-right: 20px;
}
.toys-breadcrumb-item:last-child {
    margin-right: 0px;
    opacity: 0.5;
}
.toys-breadcrumb-item a {
    color: #1E0606;
}

/* Form */
/* Form General */

.toys-form {
    background-color: rgba(125, 151, 218, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 42px;
    padding-bottom: 39px;
    padding-right: 85px;
}
.toys-form:focus {
    outline: none;
}
.toys-form legend {
    font-family: Open Sans, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 15px;
}
.toys-form label {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}
.toys-form{
    margin-bottom: 60px;
}

/* Filter Cost */

.form-cost {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-right: 108px;
}
.cost-item-main {
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
    padding-left: 5px;
}
.cost-item-strip {
    position: absolute;
    top: 0px;
}
.cost-item-main-circle {
    position: relative;
    height: 24px;
    width: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.cost-item-circle {
    position: absolute;
    height: 8px;
    width: 8px;
    top: 2px;
}
.circle-wrapper {
    position: absolute;
    left: 34px;
    top: 0px;
}
.cost-value-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.form-cost-value-max {
    margin-right: -11px;
}
/* Filter Color */

.form-color {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-right: 126px;
}
.form-color-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 16px;
}
.form-color-item:last-child{
    margin-bottom: 0px;
}
.color-radio-label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}
.color-radio-label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 19px;
    height: 19px;
    border: 2px solid #C29974;
    border-radius: 3px;
}
.color-radio-label::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 3px;
    height: 16px;
    width: 16px;
    background-image: url(images/checkbox/Vector\ 1.svg);
    background-repeat: no-repeat;
    opacity: 0;
}
.color-radio-input:checked + .color-radio-label::after {
    opacity: 1;
}
.color-radio-input:checked + .color-radio-label::before {
    background-color: #FFFFFF;
}
.color-radio-input:checked + .color-radio-label{
    text-decoration: underline;
}

/* Filter Delivery */

.form-delivery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-right: 69px;
}
.form-delivery-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 11px;
}
.form-delivery-item:last-child {
    margin-bottom: 0px;
}
.delivery-radio-label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}
.delivery-radio-label::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    height: 20px;
    width: 20px;
    border: 2px solid #C29974;
    border-radius: 10px;
}
.delivery-radio-label::after {
    content: '';
    position: absolute;
    left: 4px;
    top: 4px;
    height: 12px;
    width: 12px;
    border: 2px solid #C29974;
    border-radius: 10px;
    background-color: #C29974;
    opacity: 0;
}
.delivery-radio-input:checked + .delivery-radio-label::after {
    opacity: 1;
}
.delivery-radio-input:checked + .delivery-radio-label {
    text-decoration: underline;
}

/* Filter Amount */

.form-amount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-right: 60px;
}
.form-amount-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.form-amount-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: 80px;
    height: 35px;
    background-color: #FFFFFF;
}
.amount-checkbox-label {
    z-index: 1;
    cursor: pointer;
}
.amount-checkbox-label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 35px;
    background-color: #F3D0DB;
    opacity: 0;
}
.amount-checkbox-input:checked + .amount-checkbox-label::before {
    opacity: 1;
    z-index: -1;
}
.amount-checkbox-input:hover + .amount-checkbox-label::before {
    background-color: #EDDEEB;
    opacity: 1;
    z-index: -1;
}
.amount-checkbox-input:hover + .amount-checkbox-label {
    color: #877379
}
/* Form Button */

.toys-form-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 95px;
    min-height: 40px;
    margin-top: 37px;
    cursor: pointer;
}

/* Section Toys Catalog */

.toys-catalog {
    margin-bottom: 45px;
}

.learn-more {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #E5EAF8;
    left: 87px;
    top: 89px;
    height: 207px;
    width: 207px;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.learn-more:hover {
    opacity: 0.9;
}
.learn-more:active {
    opacity: 0.6;
}
.catalog-img-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 29px;
    color: #1E0606;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.toys-catalog-item-title {
    font-family: Open Sans, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
    margin-bottom: 15px;
}
.toys-catalog-item-price {
    font-family: Open Sans, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}
.toys-catalog-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
}
.toys-catalog-item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 498px;
    width: 380px;
    margin-right: 20px;
}
.toys-catalog-item:nth-child(3n+3){
    margin-right: 0px;
}
.toys-catalog-item:nth-child(1){
    margin-bottom: 20px;
}
.toys-catalog-item:nth-child(2){
    margin-bottom: 20px;
}
.toys-catalog-item:nth-child(3){
    margin-bottom: 20px;
}
.toys-catalog-item-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 26px;
    padding-bottom: 28px;
}

/* Ð¡atalog cntl button */

.wrapper-toys-catalog-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.toys-catalog-control-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}
.toys-catalog-control-item{
    margin-right: 64px;
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    
}
.toys-catalog-control-item a {
    color: #1E0606;
}
.toys-catalog-control-item a:hover {
    opacity: 0.5;
}
.toys-catalog-control-item .catalog-control-item-first {
    color: #C29974;
}
.toys-catalog-control-item {
    margin-right: 64px;
}
.toys-catalog-control-item:first-child {
    margin-right: 67px;
}
.toys-catalog-control-item:last-child {
    margin-right: 0px;
}
.toys-catalog-cntrl-btn-left, .toys-catalog-cntrl-btn-right {
    width: 23px;
    height: 36px;
    background-color: transparent;
    border:0;
}
.toys-catalog-cntrl-btn-left {
    background-image: url(images/arrow/arrow-left.svg);
    background-repeat: no-repeat;
    opacity: 0.12;
}
.toys-catalog-cntrl-btn-left:hover {
    opacity: 1;
}
.toys-catalog-cntrl-btn-left:active {
    opacity: 0.5;
}
.toys-catalog-cntrl-btn-right {
    background-image: url(/image/arrow/arrow-rght.svg);
    background-repeat: no-repeat;
    opacity: 0.12;
}
.toys-catalog-cntrl-btn-right:hover {
    opacity: 1;
}
.toys-catalog-cntrl-btn-right:active {
    opacity: 0.5;
}